section#about.section-padding-bottom
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title About Us
        .col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            h3 ProfHacks IV
            p Rowan University’s student branch of the IEEE (Institute of Electrical and Electronics Engineers) is hosting its fourth hackathon! Located in Glassboro, New Jersey and just half an hour away from Philadelphia, Rowan University is proud to host this event and welcomes anyone, from first-timers to full-stack devs. If you have a cool technology idea that you want to make happen, this event is for you!

        .col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            h3 Location
            p ProfHacks will be located in Engineering Hall at 
              a(href="https://www.google.com/maps/dir//39.7123981,-75.1221319/@39.712398,-75.122132,17z?hl=en-US") 600 North Campus Drive, Glassboro, NJ 08028.

    include map
