doctype html
html(lang='en')
  head
    // Required meta tags 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title Bolt - Coming Soon Template
    // Bootstrap CSS 
    link(rel='stylesheet', type='text/css', href='assets/css/bootstrap.min.css')
    // Fonts 
    link(rel='stylesheet', type='text/css', href='assets/fonts/line-icons.css')
    // Slicknav 
    link(rel='stylesheet', type='text/css', href='assets/css/slicknav.css')
    // Off Canvas Menu 
    link(rel='stylesheet', type='text/css', href='assets/css/menu_sideslide.css')
    // Color Switcher 
    link(rel='stylesheet', type='text/css', href='assets/css/vegas.min.css')
    // Animate 
    link(rel='stylesheet', type='text/css', href='assets/css/animate.css')
    // Main Style 
    link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    // Responsive Style 
    link(rel='stylesheet', type='text/css', href='assets/css/responsive.css')
  body
    .bg-wraper.overlay.has-vignette
      #example.slider.opacity-50.vegas-container(style='height: 983px;')
    // Coundown Section Start 
    section.countdown-timer
      .container
        .row.justify-content-center
          .col-lg-8.col-md-12.col-xs-12.text-center
            .heading-count
              h2 WE ARE COMING SOON
              p.text-light Our exciting new website is coming soon! Check back later...
          .col-lg-8.col-md-12.col-xs-12
            .row.time-countdown.line-right.justify-content-center
              #clock.time-count
            .subscribe-form.text-center
              h4 Subscribe to our newsletter
              form.form-inline
                input.form-control.btn-rounded(name='email', placeholder='Email Address', type='email')
                button.btn.btn-common.btn-round(type='submit') Submit
    // Coundown Section End 
    // Preloader 
    #preloader
      .loader#loader-1
    // End Preloader 
    // jQuery first, then Popper.js, then Bootstrap JS 
    script(src='assets/js/jquery-min.js')
    script(src='assets/js/popper.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/vegas.min.js')
    script(src='assets/js/jquery.countdown.min.js')
    script(src='assets/js/classie.js')
    script(src='assets/js/jquery.nav.js')
    script(src='assets/js/jquery.easing.min.js')
    script(src='assets/js/wow.js')
    script(src='assets/js/jquery.slicknav.js')
    script(src='assets/js/main.js')
    script(src='assets/js/form-validator.min.js')
    script(src='assets/js/contact-form-script.min.js')
    script(type='text/javascript') $("#example").vegas({ timer: false, delay: 6000, transitionDuration: 2000, transition: "blur", slides: [ { src: "assets/img/slide1.jpg" } ] });
