include header
body
include navbar
include ./guide/intro
include ./guide/floorplan
include ./guide/emergency
include ./guide/workshops
include ./guide/project_submission
include ./guide/judging
include footer
