section.intro
  .container
    .row.text-center
      .col-md-12.col-sm-12.col-xs-12
        .heading-count
          img#prof_img(src="/assets/img/transparent_prof.png").img-fluid
          h2 ProfHacks 2019
          h3 Registration Starts November 17th
        .social.mt-4.p-3
          a.facebook(href="https://www.facebook.com/RowanProfHacks", target="_blank")
            i.fab.fa-facebook-f.fa-2x
          a.twitter(href="https://twitter.com/RowanProfHacks", target="_blank")
            i.fab.fa-twitter.fa-2x
          a.instagram(href="https://www.instagram.com/RowanProfHacks", target="_blank")
            i.fab.fa-instagram.fa-2x
          a.slack(href="http://profhacks2019.slack.com", target="_blank")
            i.fab.fa-slack-hash.fa-2x
        a.target-scroll.page-scroll(href="#themes_and_tracks", target="_blank")
          i.fas.fa-chevron-down.fa-2x
