// Map Section Start
section#map_section
  .container-fluid
    .row
      .col-xs-12#map_div
        iframe#map(src="https://maps.google.com/maps?q=rowan%20hall%2C%20glassboro&t=&z=17&ie=UTF8&iwloc=&output=embed")
