- links = []
- links.push({a: "/#header-wrap"         , label: "Home"             , target: ""})
- links.push({a: "/register"             , label: "Registration"     , target: ""})
- links.push({a: "/#themes_and_tracks"   , label: "Theme & Tracks"   , target: ""})
- links.push({a: "/#about"               , label: "About"            , target: ""})
- links.push({a: "/#FAQ"                 , label: "FAQ"              , target: ""})
- links.push({a: "/#sponsors"            , label: "Sponsors"         , target: ""})
- links.push({a: "/#contact"             , label: "Contact"          , target: ""})
// Header Area wrapper Starts
header#header-wrap
  .menu-wrap
    .menu.navbar
      .menu-list.navbar-collapse
        ul.onepage-nev.navbar-nav
          each link in links
            li.nav-item
              a.nav-link(href=link.a target=link.target)= link.label
    button.close-button#close-button
      i.far.fa-times-circle

nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.menu-bg
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
            i.fas.fa-bars
      a.navbar-brand(href="/#")
        img(src='/assets/img/logo.png', alt='ProfHacks2019')
    .collapse.navbar-collapse#main-navbar
      ul.navbar-nav.mr-auto.w-100.justify-content-end.clearfix
        li.nav-item#open-button
          a.nav-link
            i.fas.fa-bars
    a(id="mlh-trust-badge",style="display:block;max-width:100px;min-width:60px;position:fixed;right:1em;top:58px;width:10%;z-index:-1",href="https://mlh.io/seasons/na-2019/events?utm_source=na-hackathon&amp;utm_medium=TrustBadge&amp;utm_campaign=2019-season&amp;utm_content=white",target="_blank")
      img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2019/mlh-trust-badge-2019-white.svg" alt="Major League Hacking 2019 Hackathon Season" style="width:100%")
  // Mobile Menu Start
  ul.mobile-menu
    each link in links
      li
        a(href=link.a)= link.label
  // Mobile Menu End
