- links = []
- links.push({a: "#header-wrap"         , label: "Home"             })
- links.push({a: "/register"        , label: "Registration"     })
- links.push({a: "#themes_and_tracks"   , label: "Theme & Tracks"   })
- links.push({a: "#about"               , label: "About"            })
- links.push({a: "#FAQ"                 , label: "FAQ"              })
- links.push({a: "#contact"             , label: "Contact"          })
// Header Area wrapper Starts
header#header-wrap
  .menu-wrap
    .menu.navbar
      .menu-list.navbar-collapse
        ul.onepage-nev.navbar-nav
          each link in links
            li.nav-item
              a.nav-link(href=link.a)= link.label
    button.close-button#close-button
      i.far.fa-times-circle

nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.menu-bg
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
            i.fas.fa-bars
      a.navbar-brand(href="#")
        img(src='/assets/img/logo.png', alt='ProfHacks2019')
    .collapse.navbar-collapse#main-navbar
      ul.navbar-nav.mr-auto.w-100.justify-content-end.clearfix
        li.nav-item#open-button
          a.nav-link
            i.fas.fa-bars
  // Mobile Menu Start
  ul.mobile-menu
    each link in links
      li
        a(href=link.a)= link.label
  // Mobile Menu End
