section#registration.section-padding
  .container
    .row.justify-content-center
      .col-xs-12.col-lg-8.col-md-8.text-center
        h2.section-title Registration opens November 15, 2018
        .col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            p Check back then for details.
