section#schedule.section-padding-top
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Schedule
        table.table#schedule-table
          thead
            tr
              th Time
              th Event
          tbody
            include event
            +event('10:00 AM - 11:00 AM', 'Check-In'                                )
            +event('11:00 AM'           , 'Opening Ceremony'                        )
            +event('12:00 PM'           , 'Lunch and Begin Hacking'                 )
            +event('1:00 PM - 2:00 PM'  , 'Team Building'                           )
            +event('1:00 PM'            , 'MLH Hardware Lab Opens'                  )
            +event('1:30 PM - 2:30 PM'  , 'What is a Hackathon?'                    )
            +event('2:30 PM - 3:00 PM'  , 'What is Space?'                          )
            +event('4:00 PM - 5:00 PM'  , 'Intro to Arduino - Ed Dougherty'         )
            +event('5:00 PM - 6:00 PM'  , 'RAS Drone Racing'                        )
            +event('6:00 PM'            , 'Dinner'                                  )
            +event('7:00 PM - 8:00 PM'  , 'Webtime with John'                       )
            +event('8:30 PM - 9:15 PM'  , 'MLH Slideshow Karaoke'                   )
            +event('9:30 PM - 10:30 PM' , 'IEEE Workshop'                           )
            +event('10:30 PM - 11:30 PM', 'Planetarium Show - "To Space and Back"'  )
            +event('12:00 AM'           , 'Midnight Trivia and Cookies'             )
            +event('3:00 AM'            , 'Late Night Snack'                        )
            +event('8:00 AM'            , 'Breakfast'                               )
            +event('12:00 PM'           , 'Project Submissions Due'                 )
            +event('12:00 PM'           , 'Lunch'                                   )
            +event('12:45 PM'           , 'Hackers Set Up for Science Fair Judging' )
            +event('1:00 PM'            , 'Science Fair Judging'                    )
            +event('2:45 PM'            , 'Move to Pfleeger'                        )
            +event('3:45 PM'            , 'Top 10 Present'                          )
            +event('4:30 PM'            , 'Closing Ceremony'                        )
