section#services.section-padding
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h6.subtitle What We Do
        h2.section-title We Provide Creative Solutions
        .section-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nulla neque tempore rerum dolore accusamus, eum, officia nostrum sequi explicabo aspernatur asperiores.
    .row
      .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp')
        .services-item
          .icon
            i.fas.fa-paint-brush
          h3
            a(href='#') Web Design
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt laboriosam harum, voluptatem fugiat perspiciatis.
      .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp', data-delay='300')
        .services-item
          .icon
            i.fas.fa-mobile-alt
          h3
            a(href='#') App Development
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt laboriosam harum, voluptatem fugiat perspiciatis.
      .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp', data-delay='600')
        .services-item
          .icon
            i.fas.fa-bullhorn
          h3
            a(href='#') Internet Marketing
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores incidunt laboriosam harum, voluptatem fugiat perspiciatis.
