section#sponsors.section-padding-top
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Sponsors

    .row.justify-content-center.sponsorship-tier
      h2 Platinum Sponsors
      .col-xs-12.col-md-12.text-center.sponsor.sponsor-platinum
        a(href="https://rowanieee.org" target="_blank")
          img.sp-logo(src='/assets/img/sponsors/ieee_rowan.png')

    .row.justify-content-center.sponsorship-tier
      h2 Gold Sponsors
      .col-xs-12.col-md-12.text-center.sponsor.sponsor-gold
        a(href="https://www.jpmorganchase.com/" target="_blank")
          img.sp-logo(src='/assets/img/sponsors/jp_morgan_chase.svg')

    .row.justify-content-center.sponsorship-tier
      h2 Bronze Sponsors
      .col-xs-12.col-md-12.text-center.sponsor.sponsor-bronze
        a(href="https://www.stickermule.com/" target="_blank")
          img.sp-logo(src='/assets/img/sponsors/sticker_mule.png')

    .row.justify-content-center
      .col-xs-12.col-md-12.text-center
        .section-info Do you want to sponsor ProfHacks? Contact us via email at 
          a(href='mailto:team@mail.profhacks.com') team@mail.profhacks.com
