section#sponsor_us.section-padding
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Become a Sponsor
        .section-info Promote your business by sponsoring us! Click the button below or email team@profhacks.com for more information.
          .row.justify-content-center
            a#sponsor_us(href="mailto:team@profhacks.com")
              button.btn.btn-common Sponsor Us!
