section#sponsors.section-padding-top
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Sponsors

    .row.justify-content-center.sponsorship-tier
      h2 Platinum Sponsors
      .col-xs-12.col-md-12.text-center.sponsor.sponsor-platinum
        a(href="https://rowanieee.org" target="_blank")
          img.img-fluid.sp-logo(src='/assets/img/sponsors/ieee_rowan.png')

    .row.justify-content-center.sponsorship-tier
      h2.col-xs-12.col-md-12 Gold Sponsors
      .col-xs-12.col-md-6.text-center.sponsor.sponsor-gold
        a(href="https://www.jpmorganchase.com/" target="_blank")
          img.img-fluid.sp-logo(src='/assets/img/sponsors/jp_morgan_chase.svg')
      .col-xs-12.col-md-6.text-center.sponsor.sponsor-gold
        a(href="https://r2.ieee.org/philadelphia/" target="_blank")
          img.img-fluid.sp-logo(src='/assets/img/sponsors/ieee_philly.jpg')

    .row.justify-content-center.sponsorship-tier
      h2.col-xs-12.col-md-12 Bronze Sponsors
      .col-xs-12.col-md-3.text-center.sponsor.sponsor-bronze
        a(href="http://hackp.ac/mlh-stickermule-hackathons" target="_blank")
          img.img-fluid.sp-logo(src='/assets/img/sponsors/sticker_mule.png')
      .col-xs-12.col-md-3.text-center.sponsor.sponsor-bronze
        a(href="https://engineering.rowan.edu/programs/electricalcomputer/index.html" target="_blank")
          img.img-fluid.sp-logo(src='/assets/img/sponsors/ece.png')
      .col-xs-12.col-md-3.text-center.sponsor.sponsor-bronze
        a(href="https://www.overleaf.com/" target="_blank")
          img.img-fluid.sp-logo(src='/assets/img/sponsors/overleaf.svg')
      .col-xs-12.col-md-3.text-center.sponsor.sponsor-bronze
        a(href="https://get.tech/" target="_blank")
          img.img-fluid.sp-logo(src='/assets/img/sponsors/dot_tech.png')

    .row.justify-content-center.sponsorship-tier
      h2.col-xs-12.col-md-12 In Partnership With
      .col-xs-12.col-md-12.text-center.sponsor.sponsor-partner
        a(href="https://mlh.io" target="_blank")
          img.sp-logo(src='/assets/img/sponsors/mlh.svg')

    .row.justify-content-center
      .col-xs-12.col-md-12.text-center
        .section-info Do you want to sponsor ProfHacks? Contact us via email at 
          a(href='mailto:team@mail.profhacks.com') team@mail.profhacks.com

