section#sponsors.section-padding-top
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Sponsors
        .section-info Do you want to sponsor ProfHacks? Contact us via email at 
          a(href='mailto:team@mail.profhacks.com') team@mail.profhacks.com
    .row
      .col-xs-12.col-md-12.text-center
        a(href="http://mlh.io" target="_blank")
          img(src="/assets/img/sponsors/mlh.svg")
