section#team.section-padding
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h6.subtitle Meet Our
        h2.section-title Our awesome team
        .section-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nulla neque tempore rerum dolore accusamus, eum, officia nostrum sequi explicabo aspernatur asperiores.
    .row
      .col-sm-6.col-md-6.col-lg-3
        // Team Item Starts
        .team-item.text-center
          .team-img
            img.img-fluid(src='assets/img/team/team-01.jpg', alt='')
            .team-overlay
              .overlay-social-icon.text-center
                ul.social-icons
                  li
                    a(href='#')
                      i.lni-facebook-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-twitter-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-instagram-filled(aria-hidden='true')
          .info-text
            h3
              a(href='#') Emilly Williams
            p Product Designer
        // Team Item Ends
      .col-sm-6.col-md-6.col-lg-3
        // Team Item Starts
        .team-item.text-center
          .team-img
            img.img-fluid(src='assets/img/team/team-02.jpg', alt='')
            .team-overlay
              .overlay-social-icon.text-center
                ul.social-icons
                  li
                    a(href='#')
                      i.lni-facebook-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-twitter-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-instagram-filled(aria-hidden='true')
          .info-text
            h3
              a(href='#') Patric Green
            p Front-end Developer
        // Team Item Ends
      .col-sm-6.col-md-6.col-lg-3
        // Team Item Starts
        .team-item.text-center
          .team-img
            img.img-fluid(src='assets/img/team/team-03.jpg', alt='')
            .team-overlay
              .overlay-social-icon.text-center
                ul.social-icons
                  li
                    a(href='#')
                      i.lni-facebook-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-twitter-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-instagram-filled(aria-hidden='true')
          .info-text
            h3
              a(href='#') Paul Kowalsy
            p Lead Designer
        // Team Item Ends
      .col-sm-6.col-md-6.col-lg-3
        // Team Item Starts
        .team-item.text-center
          .team-img
            img.img-fluid(src='assets/img/team/team-04.jpg', alt='')
            .team-overlay
              .overlay-social-icon.text-center
                ul.social-icons
                  li
                    a(href='#')
                      i.lni-facebook-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-twitter-filled(aria-hidden='true')
                  li
                    a(href='#')
                      i.lni-instagram-filled(aria-hidden='true')
          .info-text
            h3
              a(href='#') Jhon Doe
            p Back-end Developer
        // Team Item Ends
