section#themes_and_tracks.section-padding
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Theme
        .col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            .icon
              i.fas.fa-user-astronaut.fa-4x
            h3 Space
            p Eu nulla. Donec id orci in ligula dapibus egestas. Donec sed velit ac lectus mattis sagittis. In hac habitasse platea dictumst. Maecenas in ligula. Duis tincidunt odio sollicitudin quam. Nullam non mauris. Phasellus lacinia, velit sit amet bibendum euismod, leo diam interdum ligula, eu scelerisque sem purus in tellus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In sit amet nunc id quam porta varius. Ut aliquet facilisis turpis. Etiam pellentesque quam et erat. Praesent suscipit justo. Cras nec metus pulvinar sem tempor hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam in nulla. Mauris elementum. Curabitur tempor.

    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Tracks
      .row
        .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            .icon
              i.far.fa-newspaper
            h3 Sensor Journalism
            p Data is all around us, from the amount of air we breathe to the frequency of potholes on the roads we use to get to work. By collecting this data, we can use a network of sensors to create patterns in the environment that can be measured and predicted. How will you use data to tell a story?
        .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp', data-delay='300')
          .services-item
            .icon
              i.fas.fa-plug
            h3 IEEE Student Branch
            p Are you or one of your teammates an IEEE member? If so, then this may be the track for you! Design a product that helps advance technology for the benefit of humanity. Cities come in all shapes and sizes. Create a product that can accommodate for those differences and improve people’s quality of life. 
        .col-lg-4.col-md-6.col-xs-12.fadeInUp(data-animation='fadeInUp', data-delay='600')
          .services-item
            .icon
              i.fas.fa-briefcase
            h3 Entrepeneurship
            p Design and pitch a scalable product/service that can be utilized to improve the efficiency of some aspect of a city. This product/service should be something entirely new or an improvement on current technology. Remember, the product is important, but so is the pitch!

