section#themes_and_tracks.section-padding-top.section-padding-bottom
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Theme
        .col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
           h2 Smart Space
            p This year’s theme is Smart Space, which aims to design systems and use technology to connect the Earth with our solar system at large. It’s time to think of large scale design and how each of their subsystems interact. From gathering environmental data from satellites to image recognition and flight analytics, Smart Space allows you to design systems on a massive scale. You can go to Mars and beyond or bring it back down to Earth! This year with a wider focus, your project can go to infinity and beyond!


