section#themes_and_tracks.section-padding-top.section-padding-bottom
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Theme
        .col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            h1 TO BE ANNOUNCED


