#thanks-div{
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 20px;
  text-align: center;
  border: gray 1px solid;
  border-radius: 30px;
  background-color: #e9e9e9;
}

#thanks-section{
  background: url('img/background_2.png') no-repeat center center fixed;
}

hr.gray{
  width: 80%;
  border-color: gray;
}
