html{
}

.navbar-custom {
    background-color: #843D89;
}

.btn-lg {
    background-color: #898989;
    border-color: #898989;
}

header {
    padding-bottom: 60px;
    background: url('img/background_2.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #898989;
}

.logo {
    width: 100%;
    padding: 250px;
    background-size: contain;
    background: url('img/PROF.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 800px 1200px;
    margin-bottom: 60px;
}

#nav-logo{
    width:200px;
    height: 50px;
    background: url('img/ProfHacksText.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.sponsors-link > img{
    width:100%;
}

hr.star-light:after {
    background: transparent;
}

hr.star-primary:after {
    background: transparent;
}

.footer .footer-above {
    background-color: #898989;
}

.footer .footer-below {
    background-color: #6E6D6C;
}

#about {
    text-align: center;
}

#FAQ {
    text-align: center;
}

a {
    color: #FFFFFF;
}

.gray-link{
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-style: dotted;
}

#email-link{
    color: #843D89;
    text-decoration-color: #843D89;
    text-decoration-style: dotted;
}

a:hover, #email-link:hover {
    color: #D3D3D3;
    text-decoration-color: #D3D3D3;
    text-decoration-style: solid;
}

li.list-group-item {
    color: #FFFFFF;
    background-color: #898989;
}
@media screen and (max-width:767px){
    .html{
        width:100vw;
    }
    .logo{
        width:100%;
        background-size: contain;
    }
}

@media screen and (max-width:500px){
    .logo{
        width:0%;
        background-size:contain;
    }
    header{
        background: url('img/background-mobile.png') no-repeat center center fixed;
        background-size: auto 100%;
    }
}
