html{
}

.btn-lg {
    background-color: #898989;
    border-color: #898989;
}

header {
    padding-bottom: 60px;
    background: url('../img/background_2.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #898989;
}

.logo {
    width: 100%;
    padding: 250px;
    background-size: contain;
    background: url('../img/PROF.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 800px 1200px;
    margin-bottom: 60px;
}

#nav-logo{
    width:200px;
    height: 50px;
    background: url('../img/ProfHacksText.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.sponsors-link > img{
    width:100%;
}

hr.star-light:after {
    background: transparent;
}

hr.star-primary:after {
    background: transparent;
}

.footer .footer-above {
    background-color: #898989;
}

.footer .footer-below {
    background-color: #6E6D6C;
}

#about {
    text-align: center;
}

#Themes_Tracks {
    text-align: center;
}
#FAQ {
    text-align: center;
}

.gray-link{
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-style: dotted;
}

#mlh-trust-badge {
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  right:15px;
  top:100px;
  width:10%;
  z-index:10000;
}

#trust-badge-img {
  width : 100%;
}
.map{
  width:100%;
  min-height:400px;
}

.mlh-coc{
  color:white;
}

.center-text{
   text-align:center;
}
#email-link{
    color: #843D89;
    text-decoration-color: #843D89;
    text-decoration-style: dotted;
}

a:active, a:focus, a:hover, #email-link:hover {
    color: #D3D3D3;
    text-decoration-color: #D3D3D3;
    text-decoration-style: solid;
}

li.list-group-item {
    color: #FFFFFF;
    background-color: #898989;
}

hr.dashed {
  border-top: 1px dashed #8c8b8b;
  color: white;
}

a.white-link{
  color: white;
}

@media screen and (max-width:767px){
    .html{
        width:100vw;
    }
    .logo{
        width:100%;
        background-size: contain;
    }
}

@media screen and (max-width:500px){
    .logo{
        width:0%;
        background-size:contain;
    }
    header{
        background: url('../img/background-mobile.png') no-repeat center center fixed;
        background-size: auto 100%;
    }
}
