<!DOCTYPE html>
<html lang="en" ng-app="profhacks">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ProfHacks 2018</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  <style>
    body {
      background-color: #d8d8d8;
      overflow-x: scroll;
    }

    .navbar-custom {
      background-color: #843D89;
    }

    .btn-lg {
      background-color: #898989;
      border-color: #898989;
    }

    header {
      background: url('img/pattern.png') no-repeat center center fixed;
      background-color: #898989
    }

    .logo {
      padding: 200px;
      background: url('img/logo-color-poly.svg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-size: 800px 1200px;
    }

    #about.success {
      background-color: #898989;
    }

    hr.star-light::after {
      background-color: #898989;
    }

    .footer .footer-above {
      background-color: #898989;
    }

    .footer .footer-below {
      background-color: #6E6D6C;
    }

    #prof-form {
      float: center;
      margin-left: 8%;
      margin-right: 8%;
      margin-top: 4%;
      margin-bottom: 4%;
      padding: 2%;
      background-color: #e5e5e5;
      border-radius: 1%;
    }

    #owl {
      margin: 10%;
      margin-right: 8%;
      margin-left: 8%;
      margin-top: 0;
      text-align: center;
    }

    #title {
      text-align: center;
    }

    #submit-button {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 15px;
      float: right;
    }
  </style>

</head>

<body id="page-top" class="index">
  <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:15px;top:55px;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=yellow" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/yellow.svg" alt="Major League Hacking 2018 Hackathon Season" style="width:100%"></a>

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html">ProfHacks</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <section>
    <div class="modal fade" id="errorModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Error</h4>
          </div>
          <div class="modal-body">
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="prof-form">
          <h1 id="title">Profhacks Registration</h1>
          <br />
          <br />
          <form ng-controller="formCtrl" name="regForm" class="regForm">
            <div class="form-group">
              <label for="first-name">First Name (Required):</label>
              <input type="text" ng-model="data.first_name" name="first_name" class="form-control" value="{{data.first_name}}">
            </div>
            <div class="form-group">
              <label for="last-name">Last Name (Required):</label>
              <input type="text" ng-model="data.last_name" name="last_name" class="form-control" value="{{data.last_name}}">
            </div>
            <div class="form-group">
              <label for="email">Email (Required):</label>
              <input type="text" ng-model="data.email" name="email" class="form-control" value="{{data.email}}">
            </div>
            <div class="form-group">
              <label for="date_of_birth">Date of Birth (Required):</label>
              <input type="text" ng-model="data.date_of_birth" name="date_of_birth" class="form-control" value="{{data.date_of_birth}}">
            </div>
            <div class="form-group">
              <label for="school">School (Required):</label>
              <input type="text" ng-model="data.school" name="school" class="form-control" value="{{data.school.name}}">
            </div>
            <div class="form-group">
              <label for="major">Major (Required):</label>
              <input type="text" ng-model="data.major" name="major" class="form-control" value="{{data.major}}">
            </div>
            <div class="form-group">
              <label for="graduation-date">Graduation Date (Required):</label>
              <input type="text" ng-model="data.graduation" name="graduation" class="form-control" value="{{data.graduation}}">
            </div>
            <div class="form-group">
              <label for="shirt-size">Shirt Size (Required):</label>
              <select name="shirt_size" ng-model="data.shirt_size" class="form-control">
                <option disabled selected value> -- Select an option -- </option>
                <option value="x-small">Extra Small</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="x-large">Extra Large</option>
              </select>
            </div>
            <div class="form-group">
              <label for="first-hackathon">Is this your first hackathon? (Required)</label>
                <input type="radio" ng-model="data.first_hack" name="first_hackathon" value=true>&nbsp; Yes &nbsp; &nbsp;
                <input type="radio" ng-model="data.first_hack" name="first_hackathon" value=false>&nbsp; No
            </div>
            <div class="form-group">
              <label for="gender">Gender (Optional):</label>
              <select ng-model="data.gender" name="gender" class="form-control">thanks.html
                <option disabled selected value> -- Select an option -- </option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="dietary_restrictions">Dietary Restrictions (Optional) (Fill in your restriction if it isn't listed):</label>
              <input type="text" list="dietary_restrictions" ng-model="data.diet" class="form-control"/>
              <datalist id="dietary_restrictions">
                <option value="None">None</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Gluten-Free">Gluten-Free</option>
              </datalist>
            </div>
            <div class="form-group">
              <label for="special-needs">Special Needs (Optional):</label>
              <input type="text" name="special_needs" ng-model="data.special_needs" class="form-control" value="{{special_needs}}">
            </div>
            <div class="form-group">
              <label for="phone-number">Phone Number (Optional):</label>
              <input type="number" ng-model="data.phone" name="phone_number" class="form-control" value="{{phone_number}}">
            </div>
            <div class="form-group">
              <label for="sms_notifications">Would you like to recieve SMS notifications about Profhacks? (Optional) [Requires Phone Number]</label><br>
              <input type="radio" ng-model="data.sms_notify" name="sms_notifications" data-ng-value="true">&nbsp; Yes &nbsp; &nbsp;
              <input type="radio" ng-model="data.sms_notify" name="sms_notifications" data-ng-value="false">&nbsp; No
            </div>
            <div class="form-group">
              <label for="travel">Do you need travel reimbursement? If so, explain your travel expenses/mileage (Optional):</label>
              <textarea rows="10" cols="71" ng-model="data.travel" name="travel" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="resume">Would you like to upload you resume? (Optional)</label>
              <input type="file" ng-model="data.resume" id="file">
            </div>
            <label for="submit">By submitting, you are agreeing to the terms of the <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions">MLH Contest Terms and Conditions</a>, <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>,
              and the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>.
              <br>Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.</label><br>
            <button type="button" id='submit' class="btn btn-success btn-lg" ng-click="submit(data)"> Submit </button>
          </form>
          </div>
        </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-4">
                      <h3>Location</h3>
                      <p>
                        Engineering Hall <br>
                        401 North Campus Drive <br>
                        Glassboro, NJ 08028
                      </p>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>Social Media</h3>
                      <ul class="list-inline">
                          <li>
                              <a href="https://twitter.com/RowanProfHacks" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                              <a href="https://www.facebook.com/RowanProfHacks" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                              <a href="https://www.instagram.com/RowanProfHacks/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>Contact</h3>
                      <p><a href="mailto:team@profhacks.com" style="color: white;">team@profhacks.com</a></p>
                  </div>
              </div>
              <div class="row">
                <div class="footer-col col-md-12">
                  <a href="https://mlh.io/"><image width="10%" src="img/mlh_logo.svg" /></a><br><br>
                  <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" style="color:white;">MLH Code of Conduct</a>
                </div>
              </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; ProfHacks 2017
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Theme JavaScript -->
  <script src="js/freelancer.min.js"></script>

  <!-- Blob-Util -->
  <script src="vendor/blob-util/blob-util.min.js"></script>

  <!-- AngularJS -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="js/controller.js"></script>
</body>

</html>
