section#emergency.section-padding-top
  .container
    .row.justify-content-center
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Emergency Information
        .col-xs-12.fadeInUp(data-animation='fadeInUp')
          .services-item
            p
            |  In case of an emergency, medical or otherwise, please find the nearest volunteer (pink shirts) or use one of the below emergency numbers. Rowan EMS is on campus and provides faster assistance than 911.
    .row.justify-content-center
      p
        strong ROWAN EMS: 856-256-4922
    .row.justify-content-center
      p
        strong PUBLIC SAFETY: 856-256-4911
    .row.justify-content-center
      p
        strong LEAD ORGANIZER: 856-912-7356
