section#judging.section-padding-top.section-padding-bottom
  .container
    .row.justify-content-center.section-padding-bottom
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Judges
    .row.section-padding-bottom
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Chris Frederickson
          p
          |  Rowan Electrical and Computer Engineering graduate
          p
          |  ProfHacks Founder
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Nick Felker
          p
          |  Rowan Electrical and Computer Engineering graduate
          p
          |  Developer Programs Engineer for the Google Assistant
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Chris Dietsh
          p
          |  Rowan Electrical and Computer Engineering graduate
          p
          |  IEEE Region 2 Young Professionals Chair
    .row.section-padding-bottom
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Aaron Yangello
          p
          |  Rowan Electrical and Computer Engineering graduate
          p
          |  IDT Systems Engineer
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Jake Harris
          p
          |  Rowan Electrical and Computer Engineering graduate
          p
          |  IDT Systems Engineer
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Dr. Ghulam Rasool
          p
          |  Rowan Electrical and Computer Engineering professor
    .row.section-padding-bottom
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Chris Green
          p
          |  Rowan Electrical and Computer Engineering graduate
          p
          |  Lockheed Martin RF Systems Engineer
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Dr. Sangho Shin
          p
          |  Rowan Electrical and Computer Engineering professor
      .col-md-4.col-lg-4.col-xs-12.fadeInUp(data-animation='fadeInUp').text-center
        .services-item
          h3 Seth Bergmann
          p
          |  Rowan Computer Science professor