section#workshops.section-padding-top.section-padding-bottom
  .container
    .row.justify-content-center.section-padding-bottom
      .col-md-8.col-lg-8.col-xs-12.text-center
        h2.section-title Workshops