.sponsorship-tier > h2 {
  font-size:24px;
  color: #333;
  line-height: 52px;
  padding-bottom: 15px;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 0;
}

.sponsor-label {
  font-size: 24px;
}

.sponsor {
  padding-bottom: 48px;
}

.sp-logo {
  max-width: calc(100vw - 1em);
}
.sponsor-platinum .sp-logo {
  max-height: 25em;
  min-height: 20em;
  max-width: calc(100vw - 0.75em);
}

.sponsor-gold .sp-logo{
  max-height: 15em;
  min-height: 8em;
  max-width: calc(100vw - 1.5em);
}

.sponsor-bronze .sp-logo{
  max-height: 8em;
  min-height: 5em;
  max-width: calc(100vw - 2em);
}

